@import "../abstract/base";

.todolist__tags {
	display: flex;
	gap: 30px;

	.tag {
		font-size: 0.8rem;
		padding: 2px 14px;
		font-family: var(--font-text);
		font-weight: bold;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		background-color: var(--button-tag);
		color: var(--font-text);
	}
}
