@import '../abstract/base';
@import '../abstract/variables';
@import '../abstract/animation';


.todolist {
   font-family: $font-text;
   width: 85%;
   max-width: 650px;
   height: 100vh;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 50px;
   &__title {
      width: 100%;
      font-size: 1.6rem;
      font-family: $font-title;
      text-align: center;
      cursor: default;
   }
   &__input {
      width: 100%;
      text-align: center;
      padding: 10px 0;
      #inputTask {
         font-family: $font-text;
         width: 100%;
         text-align: center;
         padding: 0.5rem 0;
         border: 1px solid gray;
         border-radius: 15px;
         &:focus {
            outline: none;
            box-shadow: 1px 1px 5px 1px rgb(163, 163, 163);
         }
      }
   }
   &__list {
      width: 100%;
      .list {
         list-style: none;
         li {
            border: 1px solid rgb(168, 168, 168);
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.8rem 0;
            padding: 0.5rem 0.8rem;
            transition: box-shadow 250ms ease;
            position: relative;
            cursor: default;
            &.done {
               text-decoration: line-through;
            }
            &.done .check{
               background-color: #868686;
            }
            &.done .check:after {
               position: absolute;
               content: '';
               display: block;
               width: 9px;
               height: 9px;
               border-radius: 50%;
               background-color: #6bc46b;
               top: 14px;
               left: 16px;
            }
            &.hidden {
               display: none;
            }
            &:hover {
               box-shadow: 1px 1px 5px  #afafaf;
            }
            &:hover button.remove {
               opacity: 1;
            }
            .check {
               border-radius: 50%;
               width: 15px;
               height: 15px;
               background-color: #bbbbbb;
               cursor: pointer;
               &:hover {
                  background-color: #868686;
               }
            }
            button.remove {
               border: none;
               background-color: #ffadad;
               width: 15px;
               height: 15px;
               border-radius: 50%;
               opacity: 0;
               transition: opacity 250ms ease-in-out;
               cursor: pointer;
               &:hover {
                  background-color: #fa8484;
               }
               &:active {
                  background-color: #bb6767;
               }
            }
            &.removed {
               animation: collapseItem 300ms ease-out;
            }
            &.hidden {
               display: none;
            }
         }
      }
   }
   &__footer {
      width: 100%;
      height: 30px;
      text-align: center;
      span {
         color: #868686;
         font-size: 0.8rem;
         a {
            color: #5f5f5f;
            &:visited {
               color: #34343d;
            }
         }
      }
   }
}