@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Mono&display=swap');

/* FONTS */
$font-title: 'Alkatra', cursive;
$font-text: 'Roboto Mono', monospace;
// $font-text: ;

/* COLORS */
$color-primary: rgb(131, 177, 190);