@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Mono&display=swap");
:root {
  --font-title: "Alkatra", cursive;
  --font-text: "Roboto Mono", monospace;
  --font-color: #0a0505;
  --font-color-2: #868686;
  --border-color: #8a8a8a;
  --shadow-color: #a7a7a7;
  --button-color: #bbbbbb;
  --button-hover-color: #868686;
  --button-tag: #f0f0f0;
  --check-color: #91e791;
  --erase-color: #ffadad;
  --erase-hover-color: #fa8484;
}

body {
  transition: all 1s linear;
}

body.darkmode {
  background: #000000;
  --font-color: #e2e2e2;
  --font-color-2: #c0c0c0;
  --shadow-color: #777777;
  --button-hover-color: #727272;
  --button-tag: #424242;
  --check-color: #35e735;
  --erase-color: #fa7a7a;
  --erase-hover-color: #ff4343;
  transition: all 1s linear;
}
body.darkmode #inputTask {
  background-color: #d3d3d3;
}
body.darkmode #inputTask::-moz-placeholder {
  color: #424242;
}
body.darkmode #inputTask::placeholder {
  color: #424242;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  color: var(--font-color);
  font-family: var(--font-text);
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

li {
  list-style: none;
}

.container {
  width: 85%;
  max-width: 650px;
  margin: 0 auto;
}

::-moz-selection {
  background-color: rgba(150, 150, 150, 0.3019607843);
}

::selection {
  background-color: rgba(150, 150, 150, 0.3019607843);
}

:root {
  --font-title: "Alkatra", cursive;
  --font-text: "Roboto Mono", monospace;
  --font-color: #0a0505;
  --font-color-2: #868686;
  --border-color: #8a8a8a;
  --shadow-color: #a7a7a7;
  --button-color: #bbbbbb;
  --button-hover-color: #868686;
  --button-tag: #f0f0f0;
  --check-color: #91e791;
  --erase-color: #ffadad;
  --erase-hover-color: #fa8484;
}

body {
  transition: all 1s linear;
}

body.darkmode {
  background: #000000;
  --font-color: #e2e2e2;
  --font-color-2: #c0c0c0;
  --shadow-color: #777777;
  --button-hover-color: #727272;
  --button-tag: #424242;
  --check-color: #35e735;
  --erase-color: #fa7a7a;
  --erase-hover-color: #ff4343;
  transition: all 1s linear;
}
body.darkmode #inputTask {
  background-color: #d3d3d3;
}
body.darkmode #inputTask::-moz-placeholder {
  color: #424242;
}
body.darkmode #inputTask::placeholder {
  color: #424242;
}

#button {
  width: 50px;
  height: 50px;
  margin-top: 50px;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.7;
}
#button:hover {
  opacity: 1;
}
#button img {
  width: 100%;
  height: 100%;
}

.todolist__title {
  width: 100%;
  font-size: 1.6rem;
  font-family: var(--font-title);
  text-align: center;
  cursor: default;
}

:root {
  --font-title: "Alkatra", cursive;
  --font-text: "Roboto Mono", monospace;
  --font-color: #0a0505;
  --font-color-2: #868686;
  --border-color: #8a8a8a;
  --shadow-color: #a7a7a7;
  --button-color: #bbbbbb;
  --button-hover-color: #868686;
  --button-tag: #f0f0f0;
  --check-color: #91e791;
  --erase-color: #ffadad;
  --erase-hover-color: #fa8484;
}

body {
  transition: all 1s linear;
}

body.darkmode {
  background: #000000;
  --font-color: #e2e2e2;
  --font-color-2: #c0c0c0;
  --shadow-color: #777777;
  --button-hover-color: #727272;
  --button-tag: #424242;
  --check-color: #35e735;
  --erase-color: #fa7a7a;
  --erase-hover-color: #ff4343;
  transition: all 1s linear;
}
body.darkmode #inputTask {
  background-color: #d3d3d3;
}
body.darkmode #inputTask::-moz-placeholder {
  color: #424242;
}
body.darkmode #inputTask::placeholder {
  color: #424242;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  color: var(--font-color);
  font-family: var(--font-text);
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

li {
  list-style: none;
}

.container {
  width: 85%;
  max-width: 650px;
  margin: 0 auto;
}

::-moz-selection {
  background-color: rgba(150, 150, 150, 0.3019607843);
}

::selection {
  background-color: rgba(150, 150, 150, 0.3019607843);
}

:root {
  --font-title: "Alkatra", cursive;
  --font-text: "Roboto Mono", monospace;
  --font-color: #0a0505;
  --font-color-2: #868686;
  --border-color: #8a8a8a;
  --shadow-color: #a7a7a7;
  --button-color: #bbbbbb;
  --button-hover-color: #868686;
  --button-tag: #f0f0f0;
  --check-color: #91e791;
  --erase-color: #ffadad;
  --erase-hover-color: #fa8484;
}

body {
  transition: all 1s linear;
}

body.darkmode {
  background: #000000;
  --font-color: #e2e2e2;
  --font-color-2: #c0c0c0;
  --shadow-color: #777777;
  --button-hover-color: #727272;
  --button-tag: #424242;
  --check-color: #35e735;
  --erase-color: #fa7a7a;
  --erase-hover-color: #ff4343;
  transition: all 1s linear;
}
body.darkmode #inputTask {
  background-color: #d3d3d3;
}
body.darkmode #inputTask::-moz-placeholder {
  color: #424242;
}
body.darkmode #inputTask::placeholder {
  color: #424242;
}

.todolist__input {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.todolist__input #inputTask {
  font-family: var(--font-text);
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  border: 1px solid var(--border-color);
  border-radius: 15px;
}
.todolist__input #inputTask:focus {
  outline: none;
  box-shadow: 1px 1px 5px 1px var(--shadow-color);
}

:root {
  --font-title: "Alkatra", cursive;
  --font-text: "Roboto Mono", monospace;
  --font-color: #0a0505;
  --font-color-2: #868686;
  --border-color: #8a8a8a;
  --shadow-color: #a7a7a7;
  --button-color: #bbbbbb;
  --button-hover-color: #868686;
  --button-tag: #f0f0f0;
  --check-color: #91e791;
  --erase-color: #ffadad;
  --erase-hover-color: #fa8484;
}

body {
  transition: all 1s linear;
}

body.darkmode {
  background: #000000;
  --font-color: #e2e2e2;
  --font-color-2: #c0c0c0;
  --shadow-color: #777777;
  --button-hover-color: #727272;
  --button-tag: #424242;
  --check-color: #35e735;
  --erase-color: #fa7a7a;
  --erase-hover-color: #ff4343;
  transition: all 1s linear;
}
body.darkmode #inputTask {
  background-color: #d3d3d3;
}
body.darkmode #inputTask::-moz-placeholder {
  color: #424242;
}
body.darkmode #inputTask::placeholder {
  color: #424242;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  color: var(--font-color);
  font-family: var(--font-text);
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

li {
  list-style: none;
}

.container {
  width: 85%;
  max-width: 650px;
  margin: 0 auto;
}

::-moz-selection {
  background-color: rgba(150, 150, 150, 0.3019607843);
}

::selection {
  background-color: rgba(150, 150, 150, 0.3019607843);
}

.todolist__tags {
  display: flex;
  gap: 30px;
}
.todolist__tags .tag {
  font-size: 0.8rem;
  padding: 2px 14px;
  font-family: var(--font-text);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--button-tag);
  color: var(--font-text);
}

:root {
  --font-title: "Alkatra", cursive;
  --font-text: "Roboto Mono", monospace;
  --font-color: #0a0505;
  --font-color-2: #868686;
  --border-color: #8a8a8a;
  --shadow-color: #a7a7a7;
  --button-color: #bbbbbb;
  --button-hover-color: #868686;
  --button-tag: #f0f0f0;
  --check-color: #91e791;
  --erase-color: #ffadad;
  --erase-hover-color: #fa8484;
}

body {
  transition: all 1s linear;
}

body.darkmode {
  background: #000000;
  --font-color: #e2e2e2;
  --font-color-2: #c0c0c0;
  --shadow-color: #777777;
  --button-hover-color: #727272;
  --button-tag: #424242;
  --check-color: #35e735;
  --erase-color: #fa7a7a;
  --erase-hover-color: #ff4343;
  transition: all 1s linear;
}
body.darkmode #inputTask {
  background-color: #d3d3d3;
}
body.darkmode #inputTask::-moz-placeholder {
  color: #424242;
}
body.darkmode #inputTask::placeholder {
  color: #424242;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  color: var(--font-color);
  font-family: var(--font-text);
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

li {
  list-style: none;
}

.container {
  width: 85%;
  max-width: 650px;
  margin: 0 auto;
}

::-moz-selection {
  background-color: rgba(150, 150, 150, 0.3019607843);
}

::selection {
  background-color: rgba(150, 150, 150, 0.3019607843);
}

:root {
  --font-title: "Alkatra", cursive;
  --font-text: "Roboto Mono", monospace;
  --font-color: #0a0505;
  --font-color-2: #868686;
  --border-color: #8a8a8a;
  --shadow-color: #a7a7a7;
  --button-color: #bbbbbb;
  --button-hover-color: #868686;
  --button-tag: #f0f0f0;
  --check-color: #91e791;
  --erase-color: #ffadad;
  --erase-hover-color: #fa8484;
}

body {
  transition: all 1s linear;
}

body.darkmode {
  background: #000000;
  --font-color: #e2e2e2;
  --font-color-2: #c0c0c0;
  --shadow-color: #777777;
  --button-hover-color: #727272;
  --button-tag: #424242;
  --check-color: #35e735;
  --erase-color: #fa7a7a;
  --erase-hover-color: #ff4343;
  transition: all 1s linear;
}
body.darkmode #inputTask {
  background-color: #d3d3d3;
}
body.darkmode #inputTask::-moz-placeholder {
  color: #424242;
}
body.darkmode #inputTask::placeholder {
  color: #424242;
}

@keyframes collapseItem {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
.todolist__list {
  width: 100%;
}
.todolist__list .list li {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 0;
  padding: 0.5rem 0.8rem;
  transition: box-shadow 250ms ease;
  position: relative;
  cursor: default;
}
.todolist__list .list li.removed {
  animation: collapseItem 300ms ease-out;
}
.todolist__list .list li.hidden {
  display: none;
}
.todolist__list .list li:hover {
  box-shadow: 1px 1px 5px var(--shadow-color);
}
.todolist__list .list li:hover button.remove {
  opacity: 1;
}

.todolist__list .list li.done {
  text-decoration: line-through;
}
.todolist__list .list li.done .check {
  background-color: var(--button-hover-color);
}
.todolist__list .list li.done .check:after {
  position: absolute;
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--check-color);
  top: 14px;
  left: 16px;
}
.todolist__list .list li .check {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--button-color);
  cursor: pointer;
}
.todolist__list .list li .check:hover {
  background-color: var(--button-hover-color);
}

.todolist__list .list button.remove {
  border: none;
  background-color: var(--erase-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  cursor: pointer;
}
.todolist__list .list button.remove:hover {
  background-color: var(--erase-hover-color);
}
.todolist__list .list button.remove:active {
  background-color: #b67d7d;
}

:root {
  --font-title: "Alkatra", cursive;
  --font-text: "Roboto Mono", monospace;
  --font-color: #0a0505;
  --font-color-2: #868686;
  --border-color: #8a8a8a;
  --shadow-color: #a7a7a7;
  --button-color: #bbbbbb;
  --button-hover-color: #868686;
  --button-tag: #f0f0f0;
  --check-color: #91e791;
  --erase-color: #ffadad;
  --erase-hover-color: #fa8484;
}

body {
  transition: all 1s linear;
}

body.darkmode {
  background: #000000;
  --font-color: #e2e2e2;
  --font-color-2: #c0c0c0;
  --shadow-color: #777777;
  --button-hover-color: #727272;
  --button-tag: #424242;
  --check-color: #35e735;
  --erase-color: #fa7a7a;
  --erase-hover-color: #ff4343;
  transition: all 1s linear;
}
body.darkmode #inputTask {
  background-color: #d3d3d3;
}
body.darkmode #inputTask::-moz-placeholder {
  color: #424242;
}
body.darkmode #inputTask::placeholder {
  color: #424242;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  color: var(--font-color);
  font-family: var(--font-text);
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

li {
  list-style: none;
}

.container {
  width: 85%;
  max-width: 650px;
  margin: 0 auto;
}

::-moz-selection {
  background-color: rgba(150, 150, 150, 0.3019607843);
}

::selection {
  background-color: rgba(150, 150, 150, 0.3019607843);
}

:root {
  --font-title: "Alkatra", cursive;
  --font-text: "Roboto Mono", monospace;
  --font-color: #0a0505;
  --font-color-2: #868686;
  --border-color: #8a8a8a;
  --shadow-color: #a7a7a7;
  --button-color: #bbbbbb;
  --button-hover-color: #868686;
  --button-tag: #f0f0f0;
  --check-color: #91e791;
  --erase-color: #ffadad;
  --erase-hover-color: #fa8484;
}

body {
  transition: all 1s linear;
}

body.darkmode {
  background: #000000;
  --font-color: #e2e2e2;
  --font-color-2: #c0c0c0;
  --shadow-color: #777777;
  --button-hover-color: #727272;
  --button-tag: #424242;
  --check-color: #35e735;
  --erase-color: #fa7a7a;
  --erase-hover-color: #ff4343;
  transition: all 1s linear;
}
body.darkmode #inputTask {
  background-color: #d3d3d3;
}
body.darkmode #inputTask::-moz-placeholder {
  color: #424242;
}
body.darkmode #inputTask::placeholder {
  color: #424242;
}

@keyframes collapseItem {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
.todolist__footer {
  width: 100%;
  height: 30px;
  text-align: center;
}
.todolist__footer span {
  color: var(--font-color-2);
  font-size: 0.8rem;
}
.todolist__footer span a {
  text-decoration: none;
  font-weight: bold;
}
.todolist__footer span a:hover {
  font-weight: 400;
}
.todolist__footer span a:visited {
  color: var(--font-color-2);
}/*# sourceMappingURL=style.css.map */